* {
    margin: 0;
    padding: 0;
}

#library-container {
    background: lightgrey;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}

.book-card {
    border: 1px solid #fa0ea3;
    border-radius: 8px;
    padding: 15px;
    width: 200px;
    background-color: #eccdff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.book-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #fa0ea3;
}

.book-id,
.book-author,
.book-pages,
.book-read {
    font-size: 0.95rem;
    margin: 3px 0;
    color: #0a0a1a;
}

/* CSS */
.book-buttons {
    display: flex;
    background-color: #ea4c89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
        sans-serif;
    font-size: 12px;
    font-weight: 500;
    height: 30px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.book-buttons:hover,
.book-buttons:focus {
    background-color: #f082ac;
}
